section#tob_artist{
  position: relative;
  width: 1100px;
  min-height: 250px;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
h2#artist_title{
  font: 700 20px "Noto Sans KR";
  margin-bottom: 15px;
}
P#artist_more{
  position: absolute;
  right: 40px;
  top: 20px;
  font: 700 15px "Noto Sans KR";
  color: #787878;
}
ul#artist_list{
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
ul#artist_list>li{
  position: relative;
}
ul#artist_list>li>p{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font: 500 15px "Noto Sans KR";
  color: white;
}
ul#artist_list>li>img{
  width: 180px;
  height: 160px;
  border-radius: 20px;
}

@media screen and (max-width:1400px){
  section#tob_artist{
    width: 100%;
    
  }
}